<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Про компанію</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ 'about'|app }}">Про нас</a></li>
                    <li><a href="{{ 'delivery'|app }}">Доставка</a></li>
                    <li><a href="{{ 'rental-terms'|app }}">Умови оренди</a></li>
                    <li><a href="{{ 'contact'|app }}">Контакти</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Категорії товарів</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ 'category/latun'|app }}">Латунь</a></li>
                    <li><a href="{{ 'category/posud-dlya-serviruvannya'|app }}">Посуд</a></li>
                    <li><a href="{{ 'category/mebli'|app }}">Меблі</a></li>
                    <li><a href="{{ 'category/vazy'|app }}">Вази</a></li>
                    <li><a href="{{ 'category/dzerkala'|app }}">Дзеркала</a></li>
                    <li><a href="{{ 'category/etno-dekor'|app }}">Етно декор</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Контактна інформація</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker"></i> м. Київ, Україна</li>
                    <li><i class="fa fa-phone"></i> +38 067 123 45 67</li>
                    <li><i class="fa fa-envelope"></i> info@farforrent.com.ua</li>
                </ul>
                <div class="social-icons">
                    <a href="#" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="btn btn-social-icon btn-telegram"><i class="fa fa-telegram"></i></a>
                </div>
            </div>
            <div class="col-sm-3">
                <h5>Підписатися на новини</h5>
                <p>Отримуйте інформацію про нові товари та спеціальні пропозиції</p>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Ваш email">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Підписатися</button>
                    </span>
                </div>
            </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="col-sm-6">
                <p>&copy; 2024 FarforRent. Всі права захищені.</p>
            </div>
            <div class="col-sm-6 text-right">
                <p>Розроблено на <a href="https://octobercms.com" target="_blank">October CMS</a></p>
            </div>
        </div>
    </div>
</footer>